<h2 style="font-weight: bold;"><%= @place["name"] %></h2>

<div class="row">
  <div class="col-md-4">
    <div class="card-body mt-3 mb-5">
      <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary" style= "font-size: 18px; font-weight: bold">New Post</a>
    </div>
  </div>
</div>

<div class="row">
  <% for entry in @entries %>
    <div class="col-md-4">
      <h4 style="font-weight: bold;"><%= entry["title"] %></h4>
    <div class="col text-front">
      <div class="mb-3"><%= entry["occurred_on"] %></div>
    </div>
    <% if entry.uploaded_image.attached? %>
      <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
    <% else %>
      <img src="<%= entry["image"] %>" class="img-fluid">
    <% end %>
    <div class="col text-front">
      <div class="mt-3 mb-3"><%= entry["description"] %></div>
    </div>
  </div>
<% end %>

